/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache


credential.docx

credential.txt
drive-download-20181029T072701Z-001.zip
EC2_FREE.pem
EC2_Free_Paire

EC2_FREE_Paire_PPK.ppk
fof.tar.gz
fof_29102018.sql
.git